
#thoi_gian{
    display:flex;
}
#thoi_gian div{
    position: relative;
    margin: 0 0px;
}
.banner{
    display: flex;
    width:30%;
    border-radius: black;
}
.time{
    justify-content: center;
    background-color: black;
}